.bg{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.text{
  color: white;
}

.parpic {
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom:0;
}

.big {
  font-size: 108px;
}

.medbig {
  font-size: 72px;
}

.medium {
  font-size: 36px;
  line-height: 0px;
}

.textcontainer {
  margin-left: 20%;
  margin-right: 20%;
}

.paddcontainer {
  padding-top: 20%;
}

.left {
  position: relative;
  float: left;
  width: 48%;
}

.right{
  position: relative;
  float: right;
  width: 48%;
}

.small{
  font-size: 18px;
}
.tiny {
  font-size: 14px;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.opensans {
  font-family: 'Open Sans', sans-serif;
}

.center{
  position: relative;
  text-align: center;
  top: 30%;
}

.parallax {
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.half {
  height: 50%;
}

.header {
    height:100%;
    position:relative;
    transition: 1s;
    transition-timing-function: cubic-bezier(1, 1);
}

.header.tiny {
    height: 40px;
}
